:root {
    --background-color: #F9DBBD;
    --accent-color: #EFEBCE;
    --red: #D86575;
    --shadow: 2px 10px 29px -13px rgba(0,0,0,0.75);

    --light-shadow: -10px -10px 20px #ffffff;
    --dark-shadow: 10px 10px 20px #d7d6d6;
    --light-bg: #efeeee;
    --border: 1px solid rgba(255,255,255,0.20);
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    font-family: 'Bellota Text', cursive;
    background: var(--light-bg);
}

body {
     width: 100%;
     margin: 0;
     padding: 0;
}
svg {
    background: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    border-radius: 30px;
    padding: 16px;
}
input {
    -webkit-appearance: none;
    width: 210px;
    height: 35px;
    margin: 20px;
    background: white;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 32px 16px;
    box-sizing: border-box;
}
.wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}
.wrapper input {
    margin: 10px 0;
    border-radius: 30px;
    padding: 15px;
    color: #888888;
    background-color: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    min-height: 50px;
}
.wrapper svg {
    width: 40%;
    height: 40%;
    background: none;
    box-shadow: none;
    border: none;
}
.wrapper .footer {
    width: 1000px;
}
.wrapper .button {
    font-family: 'Bellota Text', cursive;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    min-height: 50px;
    transition: 0.15s ease all;
}
.wrapper .button:hover {
    color: orange;
    box-shadow: none;
}
.background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
    z-index: -1;
    background-color: var(--light-bg);
}
.home-content {
    width: 1000px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    border-radius: 30px;
    padding: 16px;
    margin: 32px 0;
    box-sizing: border-box;
}




/* ----- MAIN WRAPPER ON RESULTS PAGE -------- */
.weather-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light-bg);
    box-sizing: border-box;
    padding: 32px;
}
.weather-wrapper h1 {
    margin: 0;
    font-size: 3rem;
}
.weather-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    width: 100%;
    height: 200px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 30px;
    position: relative;
    top: 0;
    z-index: 10;
}
.weather-card .weather-title {
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 4px solid orange;
}
.weather-card .weather-image {
    display: flex;
}
.weather-card .weather-image img {
    border-radius: 30px;
    background-color: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    margin-right: 16px;
}
.weather-card .weather-info {
    display: flex;
    justify-content: space-between;
    width: 37%;
}
.weather-card h1, .weather-card h2 {
    margin: 0;
}
.weather-card p {
    margin: 0;
}
.weather-card a {
    text-align: center;
    text-decoration: none;
    transition: 0.15s ease all;
    border-radius: 30px;
    padding: 16px;
    font-size: 14px;
    color: black;
    background-color: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.weather-card a:hover {
    color: orange;
    box-shadow: none;
}





/* ------------- RIGHT SIDE DASHBOARD WITH CLOTHING RECOMMENDATIONS ----------- */
.clothing-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--light-bg);
    padding: 32px 0;
}
.clothing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-bg);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    width: 50%;   
    height: auto;
    padding: 32px;
    border-radius: 30px;
    box-sizing: border-box;
}
.clothing-card .heading {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
}
.mens {
    margin: 0 32px 0 0;
}
.mens p {
    width: auto;
    margin: 24px 0 32px 0;
}
.mens h3 {
    width: auto;
    padding: 8px 16px;
    color: orange;
    width: auto;
    border-radius: 30px;
    margin: 0 8px;
    background-color: var(--light-bg);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
}
.mens svg {
    width: 30px;
    height: 30px;
    margin: 0 16px 0 0;
}
.womens p {
    width: auto;
    margin: 24px 0 32px 0;
}
.womens h3 {
    width: auto;
    padding: 8px 16px;
    color: orange;
    width: auto;
    border-radius: 30px;
    margin: 0 8px;
    background-color: var(--light-bg);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
}
.womens svg {
    width: 30px;
    height: 30px;
    margin: 0 16px 0 0;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-bg);
    box-shadow: var(--light-shadow), var(--dark-shadow);
    border: var(--border);
    border-radius: 30px;
    padding: 16px;
}
.footer p {
    font-size: 0.8rem;
}
.footer p a {
    text-decoration: none;
    color: orange;
}

/* ----- CLOUD ANIMATION ------ *?
#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}




@media only screen and (max-width: 1300px) {
    .weather-card {
        height: auto;
    }
    .weather-card .weather-image {
        flex-direction: column;
    }
    .weather-card .weather-image img {
        width: 60px;
        height: 60px;
    }
    .weather-card .weather-image h3 {
        display: none;
    }
    .weather-card .weather-info {
        flex-direction: column;
        width: auto;
    }
}
@media only screen and (max-width: 1070px) {
    .wrapper .home-content {
        width: 100%;
    }
    .wrapper .footer {
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    .clothing-wrapper {
        flex-direction: column;
        padding-bottom: 0; 
    }
    .clothing-card {
        width: 100%;
        margin: 32px 0;
    }
    .mens {
        margin: 16px 0;
    }
    .weather-card {
        flex-direction: column;
        justify-content: flex-start;
    }
    .weather-card .weather-title {
        width: auto;
        border-bottom: 4px solid orange;
        border-right: none;
        text-align: center;
        align-items: center;
    }
    .weather-card .weather-image {
        width: auto;
        margin: 16px 0;
    }
    .weather-card .weather-info {
        width: auto;
        margin: 8px 0 16px 0;
    }
    .weather-card a {
        position: sticky;
        top: 50px;
        text-align: center;
        text-decoration: none;
        transition: 0.15s ease all;
        border-radius: 30px;
        padding: 16px;
        font-size: 14px;
        color: black;
        background-color: var(--light-bg);
        box-shadow: var(--light-shadow), var(--dark-shadow);
        border: var(--border);
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .weather-card a:hover {
        color: orange;
        box-shadow: none;
    }
}

@media only screen and (max-width: 500px) {
    .weather-wrapper {
        padding: 16px;
    }
}