    
    <div class='footer'>
        <p>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        <p>App by <a href="https://www.BranonConor.com" title="Branon Conor">Branon Conor Eusebio</a> from <a href="https://www.axncreative.com" title="AXN Creative">the AXN Creative</a></p>
    </div>
</body>
</html>